/* ------ Universal Styles ------- */

body{
    margin: 0;
    padding: 0;
    
}

.button {
    border-radius: 1500px;
    width: 150PX;
    height:40px;
    
}

.border-test {
    width: 160px;
    height: 5px;
    background: green;
    margin: 26px auto;
}

.button:hover{
    border-radius: 1500px;
    width: 150PX;
    height:40px;
   
}
/*------- Grid Styles---------*/

.nav{
    grid-area: navbar;
    height: 100px;
    opacity: 1;
    
}

.slider{
    grid-area: slider;
    height: 650PX;

}
  
   


    
.about{
    grid-area: about;
    height: 550PX;
    text-align: center;
   
    
    
}

.aboutsl {
    grid-area: aboutsl;
    height: 800PX;
    text-align: center;
}


.feature_destination{
    grid-area: feature_destination;
    background-color: darkslategrey;
    height: 450PX;
}

.grid-destination{
    grid-area: grid-destination;
    height: 900PX;

}

.testimonials{
    grid-area: testimonials;
    height: 600PX;
    text-align: center;
    padding: 40px 0;
}

.footer-gr{
    grid-area: footer-gr;
    background: linear-gradient(to bottom,#6f84a3, #b1c9ec, #426eb9, #2b62c1, #1654c8);
    height: 300PX;
}


.form {
    grid-area: form;
    height: 700PX;
    text-align: left;

}

.help {
    grid-area: help;
    height: 500PX;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'navbar navbar navbar navbar navbar navbar'
    'slider slider slider slider slider slider'
    'about about about about about about'
    'aboutsl aboutsl aboutsl aboutsl aboutsl aboutsl'
    'feature_destination feature_destination feature_destination feature_destination feature_destination feature_destination'   
    'grid-destination grid-destination grid-destination grid-destination grid-destination grid-destination'
    'testimonials testimonials testimonials testimonials testimonials testimonials'
    'form form form form form form'
    'help help help help help help'
    'footer-gr footer-gr footer-gr footer-gr footer-gr footer-gr'
    

    ;
   
    
    padding: 10px;
}

.grid-container > div {
    padding: 20px 0;
    
}
/* *********************About Places Grid View********************* */


.nav-places {
    grid-area: nav-places;
    text-align: left;
    height: 60px;
}

.img-place {
    grid-area: img-place;
    height: 400PX;
    text-align: left;
    text-align: center;
}

.place-img {
    padding-top: 30px;
}

.about-place {
    grid-area: about-place;
    height: 400PX;
    text-align: center;
    
}

.about-pla {
    padding-top: 70px;
    font-size: 22px;
}

.things-places{
    grid-area: things-places;
    height: 600PX;
    text-align: center;
}


.footer-places {
    grid-area: footer-places;
    background: linear-gradient(to bottom,#6f84a3, #587aae, #426eb9, #2b62c1, #1654c8);
    height: 300PX;
    text-align: left;
}



.grid-container-places {
    display: grid;
    grid-template-areas: 
    ' nav-places  nav-places  nav-places  nav-places  nav-places  nav-places '
    'img-place img-place img-place img-place img-place img-place'
    'about-place about-place about-place about-place about-place about-place'
    'things-places things-places things-places things-places things-places things-places'
    'footer-places footer-places footer-places footer-places footer-places footer-places'
    ;
    grid-gap: 10px;
    padding: 10px;
}



/* ********************* Nav Bar Styles ********************* */

/* **************About Us Grid ************* */

.nav-about {
    grid-area: nav-about;
    text-align: left;
    height: 8   0px;
}



.content-about{
    grid-area: content-about;
    height:400PX;
    text-align: center;
}


.footer-about{
    grid-area: footer-about;
    background: linear-gradient(to bottom,#6f84a3, #587aae, #426eb9, #2b62c1, #1654c8);
    height: 300PX;
    text-align: left;
}



.grid-container-about {
    display: grid;
    grid-template-areas: 
    'nav-about nav-about nav-about nav-about nav-about nav-about  '
    'content-about content-about content-about content-about content-about content-about'
    'footer-about footer-about footer-about  footer-about footer-about footer-about'
    ;
    grid-gap: 10px;
    padding: 10px;
}

/* **************About Us Grid ************* */

li,a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 500;
    color: #5377bc;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.5%;
    
}

header:hover{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.5%;
   
    
}



.nav-links{
    list-style: none;
}

 .nav-links li{
     display: inline-block;
     padding: 0px 20px;
 }

 .nav-links li a {
     transition: all 0.3s ease 0s;
 }

 .nav-links li a:hover{
     color: lightgray;
     display: inline-block;
    border-bottom: 1px solid #587aae;

 }

 .nav-img{
     padding-bottom: 20px;
 }


 /* *********X*********** Nav Bar Styles *********X*********** */

 /* ******************Slider***************** */


*{
    box-sizing: border-box;
}
.column {
    float: left;
    width: 15%;
    padding-top: 80px;
    padding-left: 15px;

}

.column-txt {
    float: left;
    width: 15%;
    padding-top: 80px;
    padding-left: 15px;
    position: relative;
}
.column-s {
    float: left;
    width: 15%;
    padding-top: 160px;
    padding-left: 15px;
}

.slider::after{
    content: "";
    clear: both;
    display: table;
}

.slider-btn {
    padding-top: 70px;
    padding-right: 150px;
}

.column-ex {
    float: left;
    padding-left: 15px;
}
.column-ex h2{
    font-size: 120px;
    padding-top: 7px;
}

.column-ex h4{
    letter-spacing: 12px;
    padding-bottom: 10px;
    color: #5377bc;
}

.btn-slider {
    background: white;
    color: black;
}

.btn-slider:hover {
    background: linear-gradient(to bottom,#6f84a3, #587aae, #426eb9, #2b62c1, #1654c8);
    color: whitesmoke;
    border: none;
    
}


.txt-head {
    position: absolute;
    top: 105px;
    right: 16px;
    color:white;
    font-size: 120px;
}
 
.fixed-btn-plus {
    position: fixed;
    padding-left: 480px;
    padding-bottom: 25px;
    
}

.fixed-btn-minus {
    position: fixed;
    padding-left: 480px;
    padding-top: 40px;
    
}

.btn-fixed {
    background-color: gray;
    width: 30px;
    height: 30px;
    border-radius: 17.5px;

}
 /* *********X*********Slider********X********* */



/* *******************About Us***************** */



.about-content {
    padding-top: 35px;
}



.about-head {
    font-size: 30px;
    letter-spacing: 5px;
}


.btn-about {
    background: white;
    color: black;
}

.btn-about:hover {
    background: linear-gradient(to bottom,#6f84a3, #587aae, #426eb9, #2b62c1, #1654c8);
    color: whitesmoke;
    border: none;
}


/* *********X*********About Us*********X********* */

/* *******************About SL***************** */
.sl-content button {
    margin-top: 25px;
    margin-left: 20px;

}
.sl-content{
    float: left;
    width: 50%;
    padding-top: 10px;
    padding-left: 15px;
    text-align: center;

}

.about-sl {
    width: 600px;
    font-size: 20px;
    line-height: 5vh;
}
.sl-content-m{
    float: left;
    width: 50%;
    padding-top: 10px;
    padding-left: 15px;
}

.title-map {
    font-size: 40px;
    letter-spacing: 4px;
}
/* *********X*********About Sl*********X********* */

/* *********************Testimonials********************* */


.test-content{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}


.row-test {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-test {
    flex: 25%;
    max-width: 25%;
    box-sizing: border-box;
    padding: 15px;
}

.test {
    padding: 30px;
    background: linear-gradient(to bottom, #cdd7e5, #a2b7d8, #7a96cb, #5377bc, #2a57ac);
    border-radius: 12.5px;

}
.test img{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.test-name {
    font-size: 25px;
    margin: 20px 0;
    color: cornsilk;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/* *********X***********Testimonials********X************ */

/* *********************Grid********************* */

.gridColumn-five{
    float: left;
    width: 20%;
    padding: 5px;
}

.gridColumn-four {
    float: left;
    width: 20%;
    padding: 5px;
} 

.gridColumn-three {
    float: left;
    width: 20%;
    padding: 5px;
}  

.gridColumn-two {
    float: left;
    width: 20%;
    padding: 5px;
}

.gridColumn-one{
    float: left;
    width: 20%;
    padding: 5px;
}

.gridColumn-five  img {
    margin-top: 12px;
    height: 365.5px;
}

.gridColumn-four img {
    margin-top: 12px;
    height: 177px;
} 

.gridColumn-three img {
    margin-top: 12px;
    height: 240px;
}  

.gridColumn-two img {
    margin-top: 12px;
    height: 177px;
}

.gridColumn-one img{
    margin-top: 12px;
    height: 240px;
}

    Abishan1419

.rowgrid{
    content: "";
    clear: both;
    display: table;
}


.grid-text {
    text-align: center;
    font-size: 33px;
}
.grid-img {
    position: relative;
    
}

.image-grid{
    opacity: 1;
    display: block;
    height: auto;
    transition: 5s ease;
    backface-visibility: hidden;

}

.grid-btn {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -ms-transform:translate(-50% , -50%) ;
    text-align: center;
}

 .grid-img:hover .image-grid{
     opacity: 0.3;
 }

 .grid-img:hover .grid-btn{
    opacity: 1;
}

.btn-grid{
   width: 150px;
   height: 40px;
   border-radius: 250px;
   border: none;
   background: none;
   color: blanchedalmond;

}

.btn-grid:hover{
    width: 150px;
    height: 40px;
    border-radius: 250px;
    border: none;
    background: none;
 
 }

.bor-btn{
    border-bottom: 1px solid blanchedalmond;

}



/* *********************Grid ********************* */

/* *********************Form ********************* */
.form-in {
    text-align: center;
}
.form-tit {
    text-align: center;
    font-size: 30px;
}

.input-form {
    padding-top: 20px;
}
.form-style{
    background: #ffffff;
    width: 500px;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.22);
}

.form-style input[type="text"],
.form-style input[type="email"],
.form-style textarea
{
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 2px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
    font: 16px Arial,Helvetica,sans-serif;

}

.form-style textarea{
    resize: none;
    height: 75px;
    padding-top: 40px;
}

.txt-rate {
    padding-top: 10px;
    font-size: 24px;
}

.submit-btn {
    border: none;
}

.submit-btn:hover {
    border: none;
    background: linear-gradient(to bottom, #cdd7e5, #a2b7d8, #7a96cb, #5377bc, #2a57ac);
    color: blanchedalmond;
}

/* *********X***********Form *********X*********** */


/* *********************Help********************* */




.row-help {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-help {
    flex: 20%;
    max-width: 20%;
    box-sizing: border-box;
    padding: 15px;
}

.help-img {
    padding: 30px;
    background: linear-gradient(to bottom, #cdd7e5, #a2b7d8, #7a96cb, #5377bc, #2a57ac);
    border-radius: 12.5px;

}
.help-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.help-name {
    font-size: 20px;
    margin: 20px 0;
}
/* *********X***********Help********X************ */

/* *********************Footer ********************* */


footer{
    display: flex;
    justify-content: space-between;
    padding:0 5%;
   
}

.footer-address {
    float: left;
    height: auto;
}


.loc-footer {
    float: left;
    margin-left: 2%;
    height: 40px;
    width: 40px;
}

.footer-conta {
    float: left;
}

.footer-loca {
    float: left;
    margin: 0 0 0 5px;
}

.footer-mail {
    float: left;
}

.mail-footer {
    float: left;
    margin-left: 2%;
    height: 40px;
    width: 40px;
}


.footer-ma {
    float: left;
    margin: 0 0 0 10px;
}


.footer-social {
   text-align: center;
}

.footer-social img {
    padding-top: 80px;
}

.copyright {
    padding-top: 80px;
    letter-spacing: 5px;
}


.search-footer {
    width: 150px;
}

.subs {
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 250px;
    padding: 7px;
    border: none;
    border-bottom: 2px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
    font: 16px Arial,Helvetica,sans-serif;
    
}

.sub-btn {
    padding-left: 40px;
}

.button-subs {
        background-color:white;
        border-radius: 1500px;
        width: 180PX;
        height:20px;
        border-color: transparent;
    

}

.button-subs:hover {
    background-color :blue;
    border-radius: 1500px;
    width: 180PX;
    height:20px;
    border-color: transparent;


}
/* *********X***********Footer *********X*********** */

